{% extends 'admin/base.html.twig' %}

{% block title %} modification de l'announce numéro{{ad.id}}{% endblock %}

{% block body %}
  

    <div class="container">
        <h1>Modification de l'announce{{ad.title}}</h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">
                            Corriger l'announce?
                        </h4>
                    </div>
                    <div class="card-body">
                        {{form_widget(form) }}

                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check"></i>
                            Enregistrer les modifications 
                        </button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                         <h4 class="card-title">Les reservations</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Voyageur</th>
                                    <th>Date de reservation</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in ad.bookings %}
                                <tr>
                                    <td>{{booking.id}}</td>
                                    <td>{{ booking.booker.fullName }}</td>
                                    <td>{{booking.createdAt | date('d/m/Y')}}</td>
                                    <td>
                                        <a href="#" class="btn btn-primary">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card bg-light mt-5">
                    <div class="card-header">
                         <h4 class="card-title">Les commentaires</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Voyageur</th>
                                    <th>Notes</th>
                                    <th>commentaires</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for comment in ad.comments %}
                                <tr>
                                    <td>{{comment.id}}</td>
                                    <td>{{ comment.author.fullName }}</td>
                                    <td>{{comment.rating}}</td>
                                    <td>{{comment.content}}</td>
                                    <td>
                                        <a href="#" class="btn btn-primary">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
       
        {{form_end(form) }}
    </div>

{% endblock %}