{% extends 'admin/base.html.twig' %}

{% block title %}administration des réservations{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">administration des réservations</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Visiteur</th>
                <th>Announce</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
              <td>{{booking.id}}</td>
              <td>{{booking.createdAt|date('d/m/Y H:i')}}</td>
              <td><img src="{{booking.booker.picture}}" alt="" class="avatar avatar-micro">{{booking.booker.fullName}}</td>
              <td>{{booking.ad.title}}</td>
              <td>
                  <a href="#" class="btn btn-primary">
                      <i class="fas fa-pen"></i>
                  </a>
                  <a href="#" class="btn btn-danger">
                      <i class="fas fas-trash"></i>
                  </a>
              </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div> 
{% endblock %}
 