{% extends 'base.html.twig' %}

{% block title %}Réserver l'annonce !{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" integrity="sha256-JDBcnYeV19J14isGd3EtnsCQK05d8PczJ5+fvEvBJvI=" crossorigin="anonymous" />  

{% endblock %}

{% block body %}

<div class="container">
    <h1>Réserver pour l'announce : {{ ad.title }}</h1>

    <p>Vous etes sur le point de réserver le bien de <strong>{{ ad.author.fullName}}</strong>, dites nous tout, on s'occupe du reste !</p>

    {{ form_start(form)}}
    <div class="alert alert-light">
        <h2>commmencer par nous dire quelles sont les dates qui vous intéressent</h2>
        <div class="row">
            <div class="col">
                {{ form_row(form.startDate)}}
            </div>

            <div class="col">
                {{ form_row(form.endDate )}}
            </div>
        </div>
    </div>
    <h4>
        Montant du séjour : <span id="amount">...</span> &euro;
    </h4>
    <span id="days">0</span> nuit(s) a {{ad.price}} / nuit

    <h2>Vous avez un commentaire ?</h2>
    {{ form_row(form.comment)}}

    <h2>Vous avez terminé !</h2>
    <p>
        Vacance de reve? Hebergement pour le boulot? peu import, on est la pour vous !
    </p>
    
    <button type="submit" class="btn btn-success">Je réserve !</button>
    {{form_end(form)}}
</div>

{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js" integrity="sha256-tW5LzEC7QjhG0CiAvxlseMTs2qJS7u3DRPauDjFJ3zo=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
         $('#booking_startDate, #booking_endDate').datepicker({
             format: 'dd/mm/yyyy',
             datesDisabled: [

             {% for day in ad.notAvailableDays %}

                "{{ day.format('d/m/Y') }}",

             {% endfor %}
         ],
         startDate: new Date()

         });
    })
</script>
{% endblock%}